@using DynamicPlaceholders.Mvc.Extensions
@using Foundation.CSSGridLayout.Helpers
@using Foundation.CSSGridLayout.RenderingParameters
@using Sitecore.Data
@using Sitecore.Mvc
@{
    var parameters = Html.GetRenderingParameters<ContainerRenderingParameters>();
}
<div style="@parameters.Styles">
    @Html.Sitecore().DynamicPlaceholder("gridcontent")
</div>
